<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Task</title>
  </head>
  <body>
    {% comment %}
    <div class="container">
      <h2>Create a New Task</h2>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Notes" required />
        <button type="submit">Add Task</button>
      </form>
      <a href="{% url 'frontpage' %}">Back to Task List</a>
    </div>
    {% endcomment %}

    
  </body>
</html>
